In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [11]:
#Obtengamos algunos datos para trabajar. Usemos los de la NFL
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [12]:
#Copia y lee para obtener los datos
nfl_frame = pd.read_clipboard()

#Mostrar
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [13]:
#Podemos tomar los nombre de las columnas con .columns
nfl_frame.columns

Index(['Rank ', 'Team ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Total Games ', 'Division'],
      dtype='object')

In [14]:
#Veamos algunos columnas especificas
DataFrame(nfl_frame,columns=['Team ','First NFL Season ','Total Games '])

                   Team   First NFL Season  Total Games
0         Chicago Bears                1920       1,338
1        Dallas Cowboys                1960         850
2     Green Bay Packers                1921       1,304
3        Miami Dolphins                1966         768
4  New England Patriots                1960         852
5   San Francisco 49ers                1950         970

In [15]:
#Que sucede si pedimos una columna que no existe?
DataFrame(nfl_frame,columns=['Team ','First NFL Season ','Total Games ','Stadium'])

                   Team   First NFL Season  Total Games   Stadium
0         Chicago Bears                1920       1,338       NaN
1        Dallas Cowboys                1960         850       NaN
2     Green Bay Packers                1921       1,304       NaN
3        Miami Dolphins                1966         768       NaN
4  New England Patriots                1960         852       NaN
5   San Francisco 49ers                1950         970       NaN

In [21]:
#Podemos extraer una sola columna
nfl_frame['Team ']

0           Chicago Bears
1          Dallas Cowboys
2       Green Bay Packers
3          Miami Dolphins
4    New England Patriots
5     San Francisco 49ers
Name: Team , dtype: object

In [22]:
#O multiples columnas
nfl_frame[['Team ', 'Total Games ']]

                   Team  Total Games
0         Chicago Bears        1,338
1        Dallas Cowboys          850
2     Green Bay Packers        1,304
3        Miami Dolphins          768
4  New England Patriots          852
5   San Francisco 49ers          970

In [23]:
#Podemos extraer filas atravez del indizado
nfl_frame.ix[3]

Rank                               4
Team                 Miami Dolphins
Won                              429
Lost                             335
Tied                               4
Pct.                           0.561
First NFL Season                1966
Total Games                     768
Division                    AFC East
Name: 3, dtype: object

In [24]:
#Podemos asignar valores a columnas completas
nfl_frame['Stadium']="Levi's Stadium" #Cuidado!

nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium

In [25]:
#Veaamos las columnas
nfl_frame.columns

Index(['Rank ', 'Team ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Total Games ', 'Division', 'Stadium'],
      dtype='object')

In [26]:
#Agregamos una Serie
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

#Ahora lo introducimos al DataFrame
nfl_frame['Stadium']=stadiums

#Mostrar
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,NaN

In [27]:
#Podemos borrar columnas
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West

In [28]:
#Los DataFrames pueden ser construidos de distintas maneras. Otra forma es usando un diccionario con listas
#del mismo tamano
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

#Mostrar
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [29]:
#Lista de maneras de crear DataFrames:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True