In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
data = Series(['one','two', np.nan, 'four'])

#Mostrar
data

0     one
1     two
2     NaN
3    four
dtype: object

In [3]:
#Encontrar los valores ausentes
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
#Podemos quitar los NaN 
data.dropna()

0     one
1     two
3    four
dtype: object

In [5]:
#En los DataFrames tenemos que ser mas cuidadosos
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

#Mostrar
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [6]:
clean_dframe = dframe.dropna()

#Mostrar
clean_dframe

     0    1    2
0  1.0  2.0  3.0

In [7]:
#Nota: Todas las filas con un NaN fueron retiradas

In [8]:
#Tambien podemos especificar que elimine solo cuando todos los datos
#de la fila faltan
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [9]:
#O podemos especificar que elimine las columnas con datos ausentes
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [10]:
#Tambien podemos limitar los datos ausentes

#Por ejemplo si queremos fils con al menos 3 puntos
dframe2 = DataFrame([[1,2,3,np.nan],[2,np.nan,5,6],[np.nan,7,np.nan,9],[1,np.nan,np.nan,np.nan]])

#Mostrar
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [11]:
#Eliminamos las filas que no tengan al menos 2 puntos
dframe2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [12]:
#Eliminamos las filas que no tengan al menos 3 puntos
dframe2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [13]:
#Tambien podemos sustituir los valores NaN
dframe2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [14]:
#DataFrame Original
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [15]:
#Para modificar el objeto existente se usa: inplace
dframe2.fillna(0,inplace=True)

dframe2

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  2.0  0.0  5.0  6.0
2  0.0  7.0  0.0  9.0
3  1.0  0.0  0.0  0.0