In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
#Vamos a crear una nueva Serie
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

#Mostrar
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
#Usamos reindex reacomodar los datos con un nuevo indice
ser2 = ser1.reindex(['A','B','C','D','E','F'])

#Mostrar
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
#Podemos llenar con datos los valores de nuestros nuevos indices
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
#Usamos un metodo particular para llenar los valores
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Mostrar
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [6]:
#Podemos usar forward fill para interpolar los valores entre los indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [7]:
#Reindizando filas, columnas o ambas

#Creamos un DataFrame con algunos valores aleatorios
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Mostrar
dframe

       col1      col2      col3      col4      col5
A -0.800725 -1.222106 -1.467020  0.477072  1.383734
B  1.425452 -1.360375 -0.960143  1.802578 -0.465294
D  0.766763  0.193383 -0.548036 -0.811512 -1.319129
E -0.386042  1.315012  0.201846  0.915889  0.962708
F -0.059088  1.052267  0.210022 -0.834185  0.603822

In [9]:
#Olvidamos 'C' , vamos a reindizarlo
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

#Tambien podemos reindizar columnas explicitamente
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.800725 -1.222106 -1.467020  0.477072  1.383734   NaN
B  1.425452 -1.360375 -0.960143  1.802578 -0.465294   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.766763  0.193383 -0.548036 -0.811512 -1.319129   NaN
E -0.386042  1.315012  0.201846  0.915889  0.962708   NaN
F -0.059088  1.052267  0.210022 -0.834185  0.603822   NaN

In [10]:
#Podemos reindizar rapidamente usando la etiqueta con ix

#Mostrar original
dframe

       col1      col2      col3      col4      col5
A -0.800725 -1.222106 -1.467020  0.477072  1.383734
B  1.425452 -1.360375 -0.960143  1.802578 -0.465294
D  0.766763  0.193383 -0.548036 -0.811512 -1.319129
E -0.386042  1.315012  0.201846  0.915889  0.962708
F -0.059088  1.052267  0.210022 -0.834185  0.603822

In [11]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.800725 -1.222106 -1.467020  0.477072  1.383734   NaN
B  1.425452 -1.360375 -0.960143  1.802578 -0.465294   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.766763  0.193383 -0.548036 -0.811512 -1.319129   NaN
E -0.386042  1.315012  0.201846  0.915889  0.962708   NaN
F -0.059088  1.052267  0.210022 -0.834185  0.603822   NaN