In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
#Pandas nos permite tener indices de multiples niveles
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

#Mostrar
ser

1  a    0.306799
   b    0.688645
   c   -0.318187
2  a   -1.551356
   b   -0.284827
   c   -0.600392
dtype: float64

In [3]:
#Podemos checar los multiples niveles
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
#Podemos seleccionar un subconjunto
ser[1]

a    0.306799
b    0.688645
c   -0.318187
dtype: float64

In [5]:
#Tambien podemos seleccionar desde un nivel de indice interno
ser[:,'a']

1    0.306799
2   -1.551356
dtype: float64

In [6]:
#Podemos crear Data Frames de Series con multiples niveles
dframe = ser.unstack()

#Show
dframe

          a         b         c
1  0.306799  0.688645 -0.318187
2 -1.551356 -0.284827 -0.600392

In [7]:
#Podemos hacer la operacion contraria
dframe.unstack()

a  1    0.306799
   2   -1.551356
b  1    0.688645
   2   -0.284827
c  1   -0.318187
   2   -0.600392
dtype: float64

In [8]:
#Tambien podemos aplicar indices de multiples niveles en el DataFrames
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
                                                   
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [9]:
#Podemos darles nombre a esos niveles de indices

#Nombrar los indices
dframe2.index.names = ['INDEX_1','INDEX_2']

#Nombrar las columnas
dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [10]:
#Tambien podemos intercambiar el orden de los niveles
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [11]:
#Podemos ordenarlos
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [12]:
#Observese que una vez ordenado, ahora el indice del Dframe es ordenado por INDEX_2

In [13]:
#Podemos hacer operaciones en niveles particulares
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27