In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#Importamos la utilidad de pruebas de pandas
import pandas.util.testing as tm; tm.N = 3

#Crear una funcion unpivot
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    #Regresa un DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Asignamos el DataFrame
dframe = unpivot(tm.makeTimeDataFrame())

#MOstrar
dframe

         date variable     value
0  2000-01-03        A -0.112860
1  2000-01-04        A  0.426349
2  2000-01-05        A  0.261708
3  2000-01-03        B  0.969947
4  2000-01-04        B -0.359985
5  2000-01-05        B -1.465439
6  2000-01-03        C -0.566635
7  2000-01-04        C -0.919909
8  2000-01-05        C -1.778239
9  2000-01-03        D -0.500139
10 2000-01-04        D  0.132118
11 2000-01-05        D  1.186630

In [4]:
#Los primeros valores pasados son los indices de las filas y columnas, depsues un valor opcional de llenado
dframe_piv = dframe.pivot('date','variable','value')

#Mostrar
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.112860  0.969947 -0.566635 -0.500139
2000-01-04  0.426349 -0.359985 -0.919909  0.132118
2000-01-05  0.261708 -1.465439 -1.778239  1.186630