In [2]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

#Vamos a crear una Serie (arreglo de datos y etiquetas de datos, su indice)
obj = Series([3,6,9,12])

#Mostrar
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
#Mostremos los valores
obj.values

array([ 3,  6,  9, 12])

In [4]:
#Mostremos los indices
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
#Vamos a crear una serie con indice

#Perdidas de la SGM
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

#Mostrar
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
#Ahora podemos usar los valores del indice para seleccionar los valores de la serie
ww2_cas['USA']

400000

In [7]:
#Tambien lo podemos hacer con operaciones de arreglos

#Checa quienes tuvieron muertes superiores a 4M
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
#Se pueden tratar las series como un diccionario ordenado

#Verificar si USSR esta en la serie
'USSR' in ww2_cas

True

In [9]:
#Se puede convertir la serie en un diccionario de Python
ww2_dict = ww2_cas.to_dict()

#Mostrar
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [10]:
#Se puede convertir nuevamente en una Serie
WW2_Series = Series(ww2_dict)

#Mostrar
WW2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [12]:
#Pasando un diccionario y el indice tendra las llaves en orden
countries = ['China','Germany','Japan','USA','USSR','Argentina']

#Definamos una Serie
obj2 = Series(ww2_dict,index=countries)

#Mostrar
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [13]:
#Podemos usar isnull y notnull para encontrar datos perdidos
pd.isnull(obj2)

#obj2.isnull()

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [14]:
#Lo mismo para el caso opuesto
pd.notnull(obj2)

#obj2.notnull()

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [16]:
#Observemos la serie de la SGM otra vez
WW2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [17]:
#Chequemos la serie con argentina
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [18]:
#Podemos sumar y pandas alinea los datos por indice automaticamente
WW2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [20]:
#Podemos darle un nombre a la serie
obj2.name = "Perdidas de la Segunda Guerra Mundial"

#Mostrar
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: Perdidas de la Segunda Guerra Mundial, dtype: float64

In [21]:
#Tambien podemos nombrar el indice
obj2.index.name = 'Countries'

#Mostrar
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: Perdidas de la Segunda Guerra Mundial, dtype: float64