In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [6]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico','Canada'],index=[0,5,10])

In [8]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                        columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.679903  2.418449  0.140038  1.757721  1.491511
B  1.668129 -0.567590  0.831286 -0.696047 -0.633957
D  0.165238  0.715013  0.560074  0.175036 -1.372305
E  0.164454  0.403665 -0.990395  1.374941  1.468804
F -0.879320 -0.626467 -0.045753 -0.789450 -1.204106

In [12]:
dframe2 = dframe.reindex(['A','B', 'C', 'D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.679903  2.418449  0.140038  1.757721  1.491511
B  1.668129 -0.567590  0.831286 -0.696047 -0.633957
C       NaN       NaN       NaN       NaN       NaN
D  0.165238  0.715013  0.560074  0.175036 -1.372305
E  0.164454  0.403665 -0.990395  1.374941  1.468804
F -0.879320 -0.626467 -0.045753 -0.789450 -1.204106

In [13]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [14]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.679903  2.418449  0.140038  1.757721  1.491511   NaN
B  1.668129 -0.567590  0.831286 -0.696047 -0.633957   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.165238  0.715013  0.560074  0.175036 -1.372305   NaN
E  0.164454  0.403665 -0.990395  1.374941  1.468804   NaN
F -0.879320 -0.626467 -0.045753 -0.789450 -1.204106   NaN

In [15]:
dframe

       col1      col2      col3      col4      col5
A  0.679903  2.418449  0.140038  1.757721  1.491511
B  1.668129 -0.567590  0.831286 -0.696047 -0.633957
D  0.165238  0.715013  0.560074  0.175036 -1.372305
E  0.164454  0.403665 -0.990395  1.374941  1.468804
F -0.879320 -0.626467 -0.045753 -0.789450 -1.204106

In [16]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.679903  2.418449  0.140038  1.757721  1.491511   NaN
B  1.668129 -0.567590  0.831286 -0.696047 -0.633957   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.165238  0.715013  0.560074  0.175036 -1.372305   NaN
E  0.164454  0.403665 -0.990395  1.374941  1.468804   NaN
F -0.879320 -0.626467 -0.045753 -0.789450 -1.204106   NaN

In [17]:
dframe.col1

A    0.679903
B    1.668129
D    0.165238
E    0.164454
F   -0.879320
Name: col1, dtype: float64