In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
#Creamos un dataframe con duplicados
dframe = DataFrame({'key1': ['A'] * 2 + ['B'] * 3,
                  'key2': [2, 2, 2, 3, 3]})

#Mostrar
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [3]:
#Podemos usar duplicated para encontrar duplicados
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [4]:
#Tambien podemos quitar los duplicados asi:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [5]:
#Se puede filtrar que duplicados quitar usando las columnas
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [6]:
#Mostrar Original
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [8]:
#Por defecto se toma el primer valor para los duplicados, tambien podemos tomar los ultimos
dframe.drop_duplicates(['key1'],keep='last')

  key1  key2
1    A     2
4    B     3