In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#Creamos una matriz
arr1 = np.arange(9).reshape((3,3))

#Mostrar
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
#Concatenar sobre el eje 1
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
#Con otra opcion
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
#Creamos 2 series sin traslapo
ser1 =  Series([0,1,2],index=['T','U','V'])

ser2 = Series([3,4],index=['X','Y'])

#Usamos concat (por defecto axis=0)
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [7]:
#Pasando el otro eje producira un DataFrame
pd.concat([ser1,ser2],axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [8]:
#Podemos especificar los ejes que se usaran
pd.concat([ser1,ser2],axis=1,join_axes=[['U','V','Y']])

     0    1
U  1.0  NaN
V  2.0  NaN
Y  NaN  4.0

In [9]:
#Podemos hacer esto con un indice por jeraquias
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [10]:
#A lo largo del eje = 1, esas llaves seran cabeceras de columna
pd.concat([ser1,ser2],axis=1,keys=['cat1','cat2'])

   cat1  cat2
T   0.0   NaN
U   1.0   NaN
V   2.0   NaN
X   NaN   3.0
Y   NaN   4.0

In [11]:
#Todo funciona similar con los DataFrames
dframe1 = DataFrame(np.random.randn(4,3), columns=['X', 'Y', 'Z'])
dframe2 = DataFrame(np.random.randn(3, 3), columns=['Y', 'Q', 'X'])

In [12]:
#Concat en los DataFrames
pd.concat([dframe1,dframe2])

          Q         X         Y         Z
0       NaN  0.524723 -0.032321  0.122737
1       NaN  0.708206  0.098584 -0.091131
2       NaN -0.449131 -2.794557 -0.550367
3       NaN  1.454651 -1.327556 -1.124550
0 -0.723038 -1.419022  0.560156       NaN
1 -1.201725 -0.233998  0.678222       NaN
2 -0.115306  0.574225 -0.233672       NaN

In [13]:
#Si no nos importa la inforamcion del indice y solo queremos crear un DataFrame completo, usar ignore_index
pd.concat([dframe1,dframe2],ignore_index=True)

          Q         X         Y         Z
0       NaN  0.524723 -0.032321  0.122737
1       NaN  0.708206  0.098584 -0.091131
2       NaN -0.449131 -2.794557 -0.550367
3       NaN  1.454651 -1.327556 -1.124550
4 -0.723038 -1.419022  0.560156       NaN
5 -1.201725 -0.233998  0.678222       NaN
6 -0.115306  0.574225 -0.233672       NaN

In [14]:
url='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html'