In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -1.529289  1.035566  X  alpha
1 -1.901900 -1.664043  X   beta
2  1.869302 -0.719232  Y  alpha
3 -0.040454 -0.376885  Y   beta
4  1.164423 -1.308576  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [4]:
group1

In [5]:
group1.mean()

k1
X   -1.715594
Y    0.914424
Z    1.164423
Name: dataset1, dtype: float64

In [6]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [7]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -1.901900
    JAN    1.869302
NY  FEB   -0.040454
    JAN   -0.182433
Name: dataset1, dtype: float64

In [8]:
dframe

   dataset1  dataset2 k1     k2
0 -1.529289  1.035566  X  alpha
1 -1.901900 -1.664043  X   beta
2  1.869302 -0.719232  Y  alpha
3 -0.040454 -0.376885  Y   beta
4  1.164423 -1.308576  Z  alpha

In [9]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -1.715594 -0.314239
Y   0.914424 -0.548058
Z   1.164423 -1.308576

In [10]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.529289  1.035566
   beta  -1.901900 -1.664043
Y  alpha  1.869302 -0.719232
   beta  -0.040454 -0.376885
Z  alpha  1.164423 -1.308576

In [11]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [12]:
for name, group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -1.529289  1.035566  X  alpha
1 -1.901900 -1.664043  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  1.869302 -0.719232  Y  alpha
3 -0.040454 -0.376885  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  1.164423 -1.308576  Z  alpha

In [13]:
for (k1,k2) , group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -1.529289  1.035566  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1   -1.9019 -1.664043  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  1.869302 -0.719232  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.040454 -0.376885  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  1.164423 -1.308576  Z  alpha

In [14]:
dframe

   dataset1  dataset2 k1     k2
0 -1.529289  1.035566  X  alpha
1 -1.901900 -1.664043  X   beta
2  1.869302 -0.719232  Y  alpha
3 -0.040454 -0.376885  Y   beta
4  1.164423 -1.308576  Z  alpha

In [15]:
group_dict = dict(list(dframe.groupby('k1')))

In [18]:
group_dict['Y']

   dataset1  dataset2 k1     k2
2  1.869302 -0.719232  Y  alpha
3 -0.040454 -0.376885  Y   beta

In [19]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [20]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.529289  1.035566
 1 -1.901900 -1.664043
 2  1.869302 -0.719232
 3 -0.040454 -0.376885
 4  1.164423 -1.308576, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [21]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

In [22]:
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  1.035566
   beta  -1.664043
Y  alpha -0.719232
   beta  -0.376885
Z  alpha -1.308576

In [23]:
dframe

   dataset1  dataset2 k1     k2
0 -1.529289  1.035566  X  alpha
1 -1.901900 -1.664043  X   beta
2  1.869302 -0.719232  Y  alpha
3 -0.040454 -0.376885  Y   beta
4  1.164423 -1.308576  Z  alpha