In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  0.994787
1  2000-01-04        A  0.752709
2  2000-01-05        A -1.032604
3  2000-01-03        B  0.695135
4  2000-01-04        B  0.449759
5  2000-01-05        B  0.237968
6  2000-01-03        C  1.092298
7  2000-01-04        C  0.041602
8  2000-01-05        C  0.914905
9  2000-01-03        D  1.820858
10 2000-01-04        D  0.914360
11 2000-01-05        D  0.247082

In [4]:
dframe_piv = dframe.pivot('date','variable', 'value')

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.994787  0.695135  1.092298  1.820858
2000-01-04  0.752709  0.449759  0.041602  0.914360
2000-01-05 -1.032604  0.237968  0.914905  0.247082